* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.tableselector {
    margin: 150px;
}

.title {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    color: #76808f;
    padding: 4px;
    margin-bottom: 16px;
}

.header {
    text-align: center;
    padding-top: 3rem;
}

.search-bar {
    color: #1e2026;
    width: 588px;
    padding: 16px 50px;
    background: #ffffff;
    border: 1px solid #e6e8ea;
    border-radius: 15px;
}